body {
  background-color: pink;
  color: green;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper{
  background-color: white;
  width:400px;
  border-radius: 6px;

}
.row{
  display: flex;
}